<header class="row">
    <div class="col header-homepage-container" style="width:50vh;">
        <a class="logo-link" href="/">
            <div>
                <span class="logo-title">
                    <img class="logo-header" src="~/logo.png" alt="Logo" />
                    SEP
                </span>     
            </div>
        </a>
    </div>
</header>