<nav class="row">
    <ul class="col navigation-container-homepage global-font" background:black;">
        <li>
            <a class="navigation-item" asp-area="" asp-controller="Admin" asp-action="Users">Users</a>
        </li>
    </ul>
</nav>