@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Smart Energy Platform</h1>
    <div>
        <span class="logo-title">
            <img class="logo-homepage" src="~/logo.png" alt="Logo" />
        </span>
    </div>

</div>
