@{
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Admin Platform</h1>
    <div>
        <span class="logo-title">
            <img class="logo-homepage" src="~/admin.svg" alt="Logo" />
        </span>
    </div>

</div>