@using OnlineEnergyUtilityPlatform.ViewModels
@using System.Text.Json
@model RegisterViewModel

<div class="row my-account-area">
    <div class="col-auto register-input-container">
        <h1 class="authenticate-title">
            Register
        </h1>

        <div class="register-instr-container">
            Register for an account to save time on future orders.
            <hr class="header-line login-line" />
        </div>

        <div id="register">
            <register></register>
        </div>
        <div>
            @Html.ValidationSummary()
        </div>
        <div>
            Already registered?
            <a href="@Model.LoginUrl">Login here</a>
        </div>
    </div>

    <div class="col-auto register-image-container">
        <img class="login-image-fit" src="https://theupay.com/bank/Assets/login.jpg" alt="Register Image" />
    </div>
</div>


<script src="/bundle/Register.js"></script>