@using OnlineEnergyUtilityPlatform.ViewModels
@model MyAccountIconViewModel

<div>
    <div class="col-auto" id="myaccount-icon">
        <span id="welcome_message" class="row my-account-icon-pos">Hello, @Model.UserName!</span>
    </div>
    <span id="logout" class="logout-container">
        <logout></logout>
    </span>
</div>